.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988 !important;
  font-style: italic;
}
.highlight .cp {
  color: #999999 !important;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988 !important;
  font-style: italic;
}
.highlight .cs {
  color: #999999 !important;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #999988 !important;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2 !important;
}
.highlight .gd {
  color: #000000 !important;
  background-color: #ffdddd !important;
}
.highlight .ge {
  color: #000000 !important;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000 !important;
}
.highlight .gh {
  color: #999999 !important;
}
.highlight .gi {
  color: #000000;
  background-color: # !important;
}
.highlight .go {
  color: #888888 !important;
}
.highlight .gp {
  color: #555555 !important;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa !important;
}
.highlight .gt {
  color: #aa0000 !important;
}
.highlight .kc {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .kd {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .kn {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .kp {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .kr {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .kt {
  color: #445588 !important;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .mf {
  color: #009999 !important;
}
.highlight .mh {
  color: #009999 !important;
}
.highlight .il {
  color: #009999 !important;
}
.highlight .mi {
  color: #009999 !important;
}
.highlight .mo {
  color: #009999 !important;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999 !important;
}
.highlight .sa {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .sb {
  color: #d14 !important;
}
.highlight .sc {
  color: #d14 !important;
}
.highlight .sd {
  color: #d14 !important;
}
.highlight .s2 {
  color: #d14 !important;
}
.highlight .se {
  color: #d14 !important;
}
.highlight .sh {
  color: #d14 !important;
}
.highlight .si {
  color: #d14 !important;
}
.highlight .sx {
  color: #d14 !important;
}
.highlight .sr {
  color: #009926 !important;
}
.highlight .s1 {
  color: #d14 !important;
}
.highlight .ss {
  color: #990073 !important;
}
.highlight .s, .highlight .dl {
  color: #d14 !important;
}
.highlight .na {
  color: #008080 !important;
}
.highlight .bp {
  color: #999999 !important;
}
.highlight .nb {
  color: #0086B3 !important;
}
.highlight .nc {
  color: #445588 !important;
  font-weight: bold;
}
.highlight .no {
  color: #008080 !important;
}
.highlight .nd {
  color: #3c5d5d !important;
  font-weight: bold;
}
.highlight .ni {
  color: #800080 !important;
}
.highlight .ne {
  color: #990000 !important;
  font-weight: bold;
}
.highlight .nf, .highlight .fm {
  color: #990000 !important;
  font-weight: bold;
}
.highlight .nl {
  color: #990000 !important;
  font-weight: bold;
}
.highlight .nn {
  color: #555555 !important;
}
.highlight .nt {
  color: #000080 !important;
}
.highlight .vc {
  color: #008080 !important;
}
.highlight .vg {
  color: #008080 !important;
}
.highlight .vi {
  color: #008080 !important;
}
.highlight .nv, .highlight .vm {
  color: #008080 !important;
}
.highlight .ow {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .o {
  color: #000000 !important;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb !important;
}
.highlight,
pre {
  border-radius: 10px;
  color: #4D4E4E !important;
  background-color:  #F2F2F3 !important;
}

code {
  font-size: 90% !important;
  font-family: "Roboto Mono", monospace;
  font-style: normal !important;
  font-weight: 400 !important;
  background-color: #F2F2F3;
  border-radius: 5px;
  padding-right: 7.5px !important;
  padding-left: 7.5px !important;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

code:before {
  content: none !important;
}

code:after {
  content: none !important;
}

blockquote {
  font-style: normal !important;
  font-weight: normal !important;
  background: #FFFFFF;
  border-left: 3px solid #084E83 !important;
}

blockquote:before {
  content: none !important;
}

blockquote:after {
  content: nono !important;
}
