/*copied from _layouts/default.html */

[x-cloak] { display: none !important; }
.molecula-menu-btn svg.folder path {
  d: path("M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z");
  fill: currentColor;
}

.molecula-menu-btn[aria-expanded=true] svg.folder path {
  d: path("M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z");
  fill: none;
}

.molecula-menu-btn[aria-expanded=true] .molecula-menu-arrow {
  transform: rotate(90deg);
}

nav .not-active {
  border-left: 6px solid transparent !important;
  color: #4D4E4E !important;
}

nav .active {
  border-left: 6px solid #48B5CD !important;
  color: #48B5CD !important;
}

article {
  color: #4D4E4E !important;
  font-weight: 300;
}

article h1 {
  color: #084e83 !important;
  font-family: industry, Roboto, sans-serif;
  font-size: 2.5em !important;
  font-weight: 100 !important;
}

article h2 {
  color: #084e83 !important;
  font-family: industry, Roboto, sans-serif;
  font-weight: 600 !important;
  font-size: 1.5em !important;
}

article h3 {
  color: #48B5CD !important;
  font-size: 1.2em !important;
  font-weight: 500 !important;
}

article h4 {
  color: #4D4E4E !important;
}

article a[href]:not(.anchor) {
  color: #084E83;
  font-weight: normal;
}

html {
  scroll-padding-top: 5rem;
}

footer {
  color: #808080 !important;
}

.anchor {
  content: "lsdkfjdslfkjsdf";
}

.text-mol-aqua { color: #48B5CD !important;            }
.bg-mol-aqua   { background-color: #48B5CD !important; }

.text-mol-maya { color: #C3D4DD !important;            }
.bg-mol-maya   { background-color: #C3D4DD !important; }

.text-mol-slate { color: #4D4E4E !important;            }
.bg-mol-slate   { background-color: #4D4E4E !important; }


article h1:hover .anchor,
article h2:hover .anchor,
article h3:hover .anchor,
article h4:hover .anchor,
article h5:hover .anchor {
  display: inline;
  text-decoration: none;
  color: #C3D4DD !important;
}

/* text callout/info box styles */

p.success {
  background-color: #10c9c3; --featurebase green
  filter: opacity(80%);
  color: white;
  padding: 10px;
  border-radius: 20px;
}
p.warning {
  background-color: #e65348; --featurebase orangey-red
  filter: opacity(80%);
  color: white;
  padding: 10px;
  border-radius: 20px;
}

p.info{
  background-color: #6668a6; --featurebase violet/purple
  color: white;
  padding: 10px;
  border-radius: 20px;
}
