<!-- BEGIN _includes/nav_recursive.html -->
{% for item in include.nav %}
{% assign toarray = item.category | split: ' ' %}
{% assign newpath = include.path | concat: toarray %}
{% assign id = include.id | plus: forloop.index %}
<div x-data="{ $open : $persist(false).as('menu-toggle-{{ id }}-{{ item.title }}') }" class="space-y-1">
  <button type="button" @click="$open = ! $open" :aria-expanded="$open" class="molecula-menu-btn bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 group w-full flex items-center pl-2 pr-1 py-2 text-left text-sm font-medium  outline-none">
  
    <i :class="$open ? 'fa-chevron-down fa-solid ml-2 mr-1 flex-shrink-0' : 'fa-chevron-right fa-solid mx-2 flex-shrink-0'"></i>

    <span class="flex-1 not-active font-medium uppercase text-xs tracking-wider"> {{ item.title }} </span>
    <!-- Expanded: "text-gray-400 rotate-90", Collapsed: "text-gray-300" -->
    
  </button>


  <div class="space-y-1" x-show="$open" x-transition.scale.origin.top x-cloak>
    <!-- DEBUG: category = {{ item.category }}-->
    {% for post in site.categories[item.category] %}
      {% assign child = false %}

      {% for p in newpath %}
        <!-- DEBUG: url = {{ post.url }}, p = {{ p }} -->
        {% if post.categories contains p %}
          {% assign child = true %}
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% for c in post.categories %}
        {% if newpath contains c %}

        {% else %}
          {% assign child = false %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if child %}

        {% capture category %}{{ post.categories | last }}{% endcapture %}
        {% capture text %}
        {% if post.sidebar_label %}
          {{ post.sidebar_label }}
        {% else %}
          {{ post.title }}
        {% endif %}
        {% endcapture %}

        {% if item.category == category && text %}

          {% if page.url == post.url %}
          <a class="group w-full flex items-center pl-9 pr-2 py-2 text-sm active font-lighter"> {{ text }} </a>
          {% else %}
          <a href="{{ post.url }}" class="group w-full flex items-center pl-9 pr-2 py-2 text-sm hover:bg-gray-50 font-lighter not-active"> {{ text }} </a>
          {% endif %}
        {% endif %}

      {% endif %}
    {% endfor %}

    {% if item.subnav %}
    <div class="ml-3">
      {% capture subid %}{{ id | times: 100 }}{% endcapture %}
    {% include nav_recursive.html nav=item.subnav id=subid path=newpath %}
    </div>
    {% endif %}

  </div>
</div>
{% endfor %}
<!-- END _includes/nav_recursive.html -->