<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="container">
        <header>
            <a href="/"> 
                <img src="/img/logo.svg" alt="Molecula Logo" class="logo">
            </a>
        </header>
        <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
                {% include nav.html nav=site.data.navigation.nav %}
            </aside>
    
            <article class="container__middle">
                <h1>{{ page.title }}</h1>
                <section>
                  {{ content }}
                </section>
            </article>
    
            <!-- Right sidebar -->
            <nav class="container__right">
                <div>Applies to</div>

                <span>Please {% github_edit_link "help improve this article" %}.</span>

                <div>
                    <span>
                        Modified: {{ page.last_modified_at | date: '%Y:%B:%A:%d:%S:%R' }}
                    </span>
                </div>

                <div>Feedback?</div>
            </nav>
        </main>
        <footer>
            <p> &copy; 2022 Molecula Corp.</p>
        </footer>
    </div>
  </body>
</html>