---
layout: default
---
<!-- BEGIN _layouts/post.html -->
<!-- show tags -->
{% if page.tags != empty %}
<div class="-mt-10">
  <span class="text-gray-500 font-medium uppercase text-xs tracking-wider mr-5">Tags:</span>
  {% assign tags = page.tags | sort %}
  {% for tag in tags %}
  <span class="inline-flex items-center px-3 py-1 rounded-md border-gray-300 text-gray-400 border font-medium uppercase text-xs tracking-wider"> {{ tag }} </span>
  <span class="text-white">,</span> 
  {% endfor %}
</div>
{% endif %}

{% include anchor_headings.html html=content anchorBody='<i class="fa-solid fa-link"></i>' anchorClass="anchor text-gray-200 font-lighter ml-1 lg:hidden no-underline text-mol-maya" %}


<div class="space-y-100 border-t border-gray-200 mt-10 py-10 text-mol-slate sm:text-center">
  <h5 class="text-sm font-bold">Something missing or incorrect?</h5>
  {% assign branch = "main" %}
  <a id="improve_link">Help us improve this article!</a>
  <script defer r={{ site.github.repository_nwo }} b={{ branch }} p={{ page.path }}>
    (function() {
      var repo = document.currentScript.getAttribute('r')
      var branch = document.currentScript.getAttribute('b')
      var page = document.currentScript.getAttribute('p')
      if (page.includes("reference/data-querying-ref")) {
        page = page.replace("reference/data-querying-ref", "data-querying");
      }
   
      link = "https://github.com/" + repo + "/edit/" + branch + "/" + page;
      document.getElementById("improve_link").href = link;
      document.getElementById("improve_link").rel = "nofollow";
      document.getElementById("improve_link").class = "text-sm font-medium";
    })();
  </script>
  
</div>

<!-- END _layouts/post.html -->
